[mysqld]
server-id       = 1
log_bin         = mysql-bin
default_authentication_plugin = mysql_native_password

#SHOW PROCESSLIST
#CHANGE MASTER TO MASTER_HOST='dbmaster',MASTER_USER='user', MASTER_PASSWORD='123', MASTER_LOG_FILE='mysql-bin.000014', MASTER_LOG_POS=155;
#CHANGE MASTER TO MASTER_LOG_FILE='mysql-bin.000001', MASTER_LOG_POS=1009, MASTER_SSL=1;